*{
    margin: 0;
    padding: 0;
}

/* Conteudo: */


#titulod{
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 15%;
    font-size: 40px;
    width: 70%;
    padding: 3px 0;
    text-align: center;
    border-bottom: #1F6031 1px solid;
    border-top: #1F6031 1px solid;

}

td, th{
    border-bottom: 1px solid #1F6031;
    padding: 2%;
}

table{
    text-align: center;
    margin: 0 auto;
    width: 70%;
    /* border-spacing: 20px; */
    margin-bottom: 100px;
}

/* button{
    height: 70px;
    width: 110px;
    border-radius: 10px ;
    border: 1px solid rgb(104, 100, 100);
    font-size: 16px;
} */


button{
    width: 160px;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #1F6031;
    color: white;
    /* margin-top: 2%;
    margin-bottom: 2%; */
    text-align: center;
    cursor: pointer;
    /* margin-left: 340px;  */
    font-family: Poppins;
}


.link{
    text-decoration: none;
    font-size: 16px;
    color: white;
}

button:hover{
 background-color: black;
}

#icone{
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

th{
    font-size: 28px;
    color: rgb(13, 13, 24);
    
    
}

td{
    font-size: 18px;
    width: 25%;  
    
}


main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



/* @media screen and (max-width: 1000px) {
    main{
        padding-top: 25%;
    }
}
@media screen and (max-width: 800px) {
    main{
        padding-top: 30%;
    }
} */





main{
    padding-top: 150px;
    padding-bottom: 100px;
}

@media (max-width: 1400px) {
    main{
        padding-top:200px ;
    }
  }

  @media (max-width: 800px) {
    main{
        padding-top:300px ;
    }
  }

  @media (max-width: 381px) {
    main{
        padding-top:400px ;
    }
  }



  #titulod{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif
;
}


td{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}	