* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center; /* Centraliza o título */
}

.container p {
    font-size: 21px;
    margin-bottom: 20px;
    text-align: justify;
}

.img {
    max-width: 100%;
    height: auto;
    margin: 0 auto; /* Garante que a imagem fique centralizada */
    display: block; /* Remove o espaço extra abaixo da imagem */
}

.legenda {
    font-size: 15px;
    color: rgb(50, 48, 48);
    margin-top: 10px;
    text-align: center; /* Centraliza a legenda abaixo da imagem */
}

.escritor {
    font-size: 20px;
    color: rgb(26, 26, 26);
    margin-top: 20px;
    text-align: center;
}


@media screen and (max-width: 800px) {
    .container {
        padding: 10px;
    }

    .container h1 {
        font-size: 28px;
    }

    .container p {
        font-size: 18px;
    }

    .escritor {
        font-size: 18px;
    }
}





main{
    padding-top: 200px;
    padding-bottom: 100px;
  }
  
  @media (max-width: 1500px) {
    main{
        padding-top:250px ;
    }
  }
  
  @media (max-width: 1325px) {
    main{
        padding-top:300px ;
    }
  }
  
  @media (max-width: 800px) {
    main{
        padding-top:400px ;
    }
  }
  
  @media (max-width: 472px) {
    main{
        padding-top:500px ;
    }
  }
